<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Seafood Platform</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- 헤더 영역 -->
    <%- include("common/header.ejs") %>
    <!-- 상단 배너 영역 -->
    <div class="banner main_banner">
        <div class="center">
            <h2>Global<br>Seafood Platform</h2>
        </div>
    </div>
    
    <!-- 중간 영역 -->
    <div id="main_container">
        <div class="center">
            <img src="img/mid3.png" alt="악수하는 사진 입니다.">
            <h2>글로벌 수산 가공업체<br><span class="bold">CORAM</span><span class="thin">DEO</span>입니다.</h2>
        </div>
    </div>
    
    <!-- 풋터 영역 -->
    <%- include("/common/footer.ejs") %>
</body>
</html>