<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="join_container">
        <div class="center">
            <h2>가입하기</h2>
            <form action="" method="post">
                <div class="line">
                    <input type="text" name="joinname" id="joinname" placeholder="이름">
                    <span></span>
                </div>
                <div class="line">
                    <input type="text" name="joinemail" id="joinemail"  placeholder="이메일주소">
                    <span></span>
                </div>
                <div class="line">
                    <input type="text" name="joinid" id="joinid"  placeholder="아이디">
                    <span></span>
                </div>
                <div class="line">
                    <input type="password" name="joinpass" id="joinpass"  placeholder="비밀번호">
                    <span></span>
                </div>
                <button type="submit">가입하기</button>
            </form>
            <p>이미 계정이 있습니까?<a href="#">로그인하기</a></p>
        </div>
    </div>
</body>
</html>