<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="login_container">
        <div class="center">
            <h2>LOGIN</h2>
            <form action="" method="post">
                <input type="text" name="userid" id="userid" placeholder="아이디">
                <input type="password" name="userpass" id="userpass"  placeholder="비밀번호">
                <button class="loginBtn" type="submit">LOGIN</button>
                <button class="joinBtn" type="submit">회원가입</button>
            </form>
        </div>
    </div>
</body>
</html>