<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div id="login_container">
        <div class="center">
            <h2>LOGIN</h2>
            <form action="/loginresult" method="post">
                <input type="text" name="userid" id="userid" placeholder="아이디">
                <input type="password" name="userpass" id="userpass"  placeholder="비밀번호">
                <button class="loginBtn" type="submit">LOGIN</button>
                <button class="joinBtn" type="button">회원가입</button>
                <button class="cancelBtn" type="button">취소</button>
            </form>
        </div>
    </div>
    <script src="/js/join_btn.js"></script>
    <script src="/js/cancel_btn.js"></script>
</body>
</html>