<div id="footer">
    <div class="center">
        <h2>GIVE CONCERNS<br>TAKE HEALTH</h2>
        <ul class="footer_gnb">
            <li>
                <a href="#">회사소개</a>
                <ul class="sub_gnb">
                    <li><a href="#">기업소개</a></li>
                    <li><a href="#">비전</a></li>
                    <li><a href="#">오시는길</a></li>
                </ul>
            </li>
            <li>
                <a href="#">사업소개</a>
                <ul class="sub_gnb">
                    <li><a href="#">사업영역</a></li>
                    <li><a href="#">생산시설</a></li>
                </ul>
            </li>
            <li><a href="#">제품소개</a></li>
            <li>
                <a href="#">고객센터</a>
                <ul class="sub_gnb">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">문의하기</a></li>
                </ul>
            </li>
            <li class="lastLi"><a href="#">쇼핑몰</a></li>
        </ul>
        <div class="address">
            <p><span>본사</span>전라남도 영암군 영암읍 영암공단로 39-14</p>
            <p><span>T</span>070-7778-6575</p>
            <p><span>F</span>061-473-6579</p>
        </div>
        <h3 class="copyright">Copyright ⓒ 2022 CORAMDEO. All Right Reserved.</h3>
    </div>
</div>