<div id="header">
    <div class="center">
        <h1 class="logo"><a href="/"><img src="img/logo.png" alt="로고 이미지 입니다."></a></h1>
        <ul class="gnb">
            <li>
                <a href="#">회사소개</a>
                <ul class="sub_gnb">
                    <li><a href="#">기업소개</a></li>
                    <li><a href="#">비전</a></li>
                    <li><a href="#">오시는길</a></li>
                </ul>
            </li>
            <li>
                <a href="#">사업소개</a>
                <ul class="sub_gnb">
                    <li><a href="#">사업영역</a></li>
                    <li><a href="#">생산시설</a></li>
                </ul>
            </li>
            <li><a href="#">제품소개</a></li>
            <li>
                <a href="#">고객센터</a>
                <ul class="sub_gnb">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">문의하기</a></li>
                </ul>
            </li>
            <li><a href="#">쇼핑몰</a></li>
        </ul>
    </div>
</div>